

{% extends "base.html" %}


{% block content %}


    <div class="page-info-wrapper post-presentation lazy active background"
    data-src="https://images.unsplash.com/photo-1536562833330-a59dc2305a5c?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;5e29ef7df943648877b7a7de70b0f58f">
        <div class="gradient gradient1">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12 col-md col-lg col-xs-12">
                        <h1 class="animated fadeInUp">Password Reset Confirm</h1>
                        <p class="animated fadeInUp"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <div class="latest-post">
            <div class="container d-md-flex align-items-center">
                <span class="badge badge-primary"></span>
                <a href="../thor-the-thunder-god/index.html" class="d-md-inline-flex d-block"><span></span></a>
                <span class="badge post-visibility post-paid"></span>
            </div>
        </div>

    <div class="container">
	<div class="di">
		<p class="k">
			we have emailed you the instruction on how to reset your password, if the email you entered is in our database then you will recieve a mail shortly
		</p>
		<p>
			Incase you havent recieved any email yet,dont panic just go back and make sure that you entered the email you registered with and check your spam folder
		</p>
		<p class="t"><a href="{% url 'Blog:Blog_list'%}">Return To Home</a></p>
	</div>
</div>

  

  

  
  {# Assumes you setup the password_reset view in your URLconf #}
  


{% endblock %}