{% extends "base.html"%}
{%block content%}
<div class="container">
	<div class="di">
		<p class="k">
			we have emailed you the instruction on how to reset your password, if the email you entered is in our database then you will recieve a mail shortly
		</p>
		<p>
			Incase you havent recieved any email yet,i laugh u ooo dont panic just go back and make sure that you entered the email you registered with and check your spam folder
		</p>
		{% comment %} <p class="t"><a href="{% url 'home'%}">Return To Home</a></p> {% endcomment %}
	</div>
</div>


{% endblock %}

