{% comment %} {% autoescape off %}
To inisiate the password reset process for Account {{ user.email}}
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
if clicking the link above dosen't work then you have to copy and paste the link in a fresh browser.

Sincerely
THE PROGRAMMER SCARFACE

{% endautoescape %} {% endcomment %}


Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}