<style type="text/css">
.form{text-align: center;
      font-size: 20px;
      font-family: sans-serif;
      background-color: gray;

}
.password{background: white;
width: 40%;
margin-top: 20px;
height: 30px;
border-radius: 30px;
margin-right: 20px;
text-align: center;
box-shadow: 4px 5px 6px #C8CBC2;
border-bottom-style: groove;
border-top-style: groove;
border-top-color: #79E9F4;
border-bottom-color: #5EB0D8;

}
.button{
background: orange;

width: 20%;
margin-top: 20px;
height: 30px;
border-radius: 30px;
margin-right: 20px;
text-align: center;
box-shadow: 4px 5px 6px #C8CBC2;
border-bottom-style: groove;
border-top-style: groove;
border-top-color: #79E9F4;
border-bottom-color: #5EB0D8;

}
</style>


{% extends "base.html"%}
{%block content%}

<form method="POST" class="form" action="{% url 'password_change'%}"> {%csrf_token%}
	<h1 class="A">change password</h1>
	<input type="password" name="old_password" class="password" placeholder="Old Password" required="true" id="id_old_password"><br/><br/>

	<input type="password" name="new_password1" class="password" placeholder="Password 1" required="true" id="id_password1"><br/><br/>

	<input type="password" name="new_password2" class="password" placeholder="confirm password" required="true" id="id_password2"><br/><br/>
    {% for fields in form %}
		{% for error in field.errors %}
		<p style="color: red;">{{error}}</p>
		{%endfor%}
    {%endfor%}
	<button class="button" type="submit">Update</button>
</form>

{%endblock%}