{% extends 'base.html'%}
{% block head_title%} {% endblock%}
{% block content%} 
{% if object.media%}
<div class="page-info-wrapper post-presentation active lazy background"
    data-src="https://images.unsplash.com/photo-1536562833330-a59dc2305a5c?ixlib&#x3D;rb-0.3.5&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ&amp;s&#x3D;5e29ef7df943648877b7a7de70b0f58f">
{% else %}
<div class="page-info-wrapper post-presentation active lazy background"
data-src="">
{% endif %}
    <div class="gradient gradient1">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12 col-md col-lg col-xs-12">
                    <h1 class="animated fadeInUp">Tag: {{object.name}}</h1>
                    <p class="animated fadeInUp">{{object.about}}</p>
                    {% if request.user.is_superuser == True %}
                    <a href='{% url 'Blog:category_delete' object.id %}' class="animated fadeInUp badge post-paid"><span>Delete {{object.name}}</span></a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- AUTHOR INFO -->
        <div class="author-wrapper post-presentation container">
            <div class="d-flex justify-content-between align-items-center animated fadeIn">
                <p class="author-post-count"><i class="fas fa-pencil-alt"></i> {{blog_count}} posts</p>
            </div>
        </div>
    </div>
</div>

    {% if latest %}
        <div class="latest-post">
            <div class="container d-md-flex align-items-center">
                <span class="badge badge-primary">Latest Post</span>
                <a href="{% url 'Blog:Blog_detail' latest.id %}" class="d-md-inline-flex d-block">{{latest.title}} <span>by {{latest.user.username}}</span></a>
                <span class="badge post-visibility post-paid">paid</span>
            </div>
        </div>
    {% endif %}
<div id="main">
    <div class="container">
        <article>
        
        <h4> The little you need to know about {{object.name}}</h4>
            {% if object.article1 %}
            <p> 
                {{object.article1}} 
            </p><hr>
            {% endif %}
            {% if object.article2 %}
            <p>
                {{object.article2}}
            </p></s=>
            {% endif %}
            {% if object.article3 %}
            <p> 
                {{object.article3}}
            </p>
            {% endif %}
            {% if not object.article1 %}
            <p> 
                NO ARTICLES YET
            </p>
            {% endif %}

            {% if object.name == 'Web Development'%}
            <p>
                <a href='{% url 'webStack' %}'><strong>I need you to understand that there are two parts to this paricular stack</strong></a></p>
            <p>
            {% endif %}
        </article>

        <section class='container'>
        
            <div class='row'>
            {% for items in language %}
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="post post-presentation second-post lazy  background"
                            data-src="">
                            <div class="gradient gradient2">
                                <h3><a href="">{{items.name}}</a></h3>
                                
                                <div class="mt-5">
                                    <p class='h6'>{{items.about}}</p>
                                    {% comment %} <a href="" class="btn btn-no-background">Perfect Road Map <i class="fa fa-chevron-right"></i></a> {% endcomment %}
                                </div>
                                <div class=''>
                                    <h5>Learn The Language First!!!</h5>
                                </div>
                                <div class='float-bottom'>
                                <h6 class='text-capitalize'>FrameWorks under {{items.name}} for {{object.name}}</h6>
                                {% for framework in frameworks %}
                                {% if framework %}
                                {% if framework.language.id == items.id and object in framework.stack.all %}
                                <p class='ml-3 h3'>{{framework.name}} {% if framework.dev %}({{framework.dev}}){%endif%} ===> <a href=''>Road Map <i class="fa fa-chevron-right"></i></a></p>
                                {% endif %}
                                {% else %}
                                <h3>Nothing to show</h3>
                                {% endif%}
                                {% endfor %}
                                
                                </div>
                            </div>
                        </div>                                          
                    </div>
            {% endfor %}
            </div>
        
        </section>
        <div class='text-center'>
            <h3>Posts</h3><hr>
        </div>
        {% if blog_list%}
        <div class="row" id="post-loop-wrapper">
            {% for item in blog_list %}
                    
                    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-12">
                        <div class="post post-presentation second-post lazy  background"
                            data-src="{{item.media.url}}">
                            <div class="gradient gradient2">
                                <h3><a href="{% url 'Blog:Blog_detail' item.id %}">{{item.title}}</a></h3>
                                <div class="post-tags">
                                    <span class="badge post-visibility post-public">public</span>
                                        <a href="{% url 'Blog:Blog_category_detail' item.category.id %}">{{item.category}}</a>
                                </div>
                                <div class="share-icons">
                                    <div class="icon-container">
                                        <a href="{% url 'Users:profile' item.user.id %}" class="author-info">
                                            <div class="author-image background lazy">Author: {{item.user.username}}</div>
                                        </a>
                                        <a href="{% url 'Blog:Blog_detail' item.id %}"><i class="fa fa-share d-none d-sm-block "></i></a>
                                        <div class="icons d-none d-sm-block">
                                        </div>
                                    </div>
                                </div>
                                <div class="float-bottom">
                                    <p>{{item.precont}}</p>
                                    <a href="{% url 'Blog:Blog_detail' item.id %}" class="btn btn-no-background">Read Post <i class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>                                          
                    </div>
                
            {% endfor %}
        </div>
        {% else %}
        <div class='text-center'>
            <h6 class='text-capitalize'>No Posts</h6><hr>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}