{% extends 'base.html'%}
{% block head_title%} | {{block.super}}  {%endblock%}
{% block content%} 

<div class="post-info-wrapper post-presentation active lazy background"
data-src="https://valkyrie.xaes.dev/content/images/2018/09/thanos-pal-570889-unsplash-min-2.jpg">
    <div class="gradient gradient1">
        <div class="container d-flex align-items-center">
            <div class="row align-items-center w-100">
                <div class="col-sm-12 col-md-12 col-lg col-xs-12">
                    <div class="d-xs-block d-sm-flex align-items-center">
                            <div class="author-image-wrapper animated fadeInLeft">
                                {% if object.media %}
                                <div class="author-image background lazy" data-src="{{object.media.url}}"></div>
                                {% else %}
                                <div class="author-image background lazy" data-src=""></div>
                                {% endif %}
                            </div>
                        <div class="author-info-wrapper">
                            <h2 class="animated fadeInDown">{{object.full_name}}</h2>
                            <p class="d-block mt-0 animated fadeInUp"><i class="fa fa-map-marker"></i> {{object.Country}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xs-12">
                    <p class="author-bio d-block animated fadeInUp">{{object.About}}</p>
                </div>
            </div>
        </div>

        <!-- AUTHOR INFO -->
        <div class="author-wrapper post-presentation container">
            <div class="d-flex justify-content-between align-items-center">
                <p class="author-post-count mt-0 animated fadeIn"><i class="fas fa-pencil-alt"></i> {{blog_count}} posts</p>
                <div class="share-icons icons-visible animated fadeIn">
                    <div class="icon-container">
                        <div class="icons">
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% if latest %}
        <div class="latest-post">
            <div class="container d-md-flex align-items-center">
                <span class="badge badge-primary">Latest Post</span>
                <a href="{% url 'Blog:Blog_detail' latest.id %}" class="d-md-inline-flex d-block">{{latest.title}} by  <span>{{latest.user.username}}</span></a>
                {% if request.user.is_superuser == True %}
                <a href='{% url 'Users:block' object.id %}' class="badge post-visibility post-paid"><span>Block User</span></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
<div id="main">
    <div class="container">
        <div class="row" id="post-loop-wrapper">
            {% for item in blog_list %}
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    {% if item.media %}
                    <div class="post post-square lazy post-presentation  background"
                        data-src="{{item.media.url}}">
                        {% else %}
                            <div class="post post-square lazy post-presentation  background"
                        data-src="">
                        {% endif %}
                        <div class="gradient gradient2 d-flex align-items-center">
                            <div class="float-top">
                                <div href="#" class="share-icons d-none d-sm-block">
                                    <div class="icon-container">
                                        <a href='{% url 'Blog:Blog_detail' item.id %}'><i class="fa fa-share"></i></a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="post-info">
                                <div class="separator"></div>
                                <h3><a href="{% url 'Blog:Blog_detail' item.id %}">{{item.precont}}</a></h3>
                                
                            </div>
                            <div class="float-bottom">
                                    <a href="{% url 'Users:profile' item.user.id %}" class="vertical-align author-info">
                                        <div class="author-image background lazy">Author: {{item.user}}</div>
                                        
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- PAGINATION -->
<div id="pagination">
    <div class="container">
        <div id="load-more" class="text-center page-indicator">
            No more posts <i class="fas fa-arrow-down"></i>
        </div>
    </div>
</div>

{% endblock%}