{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#A98B69"/>

        <title>Valkyrie </title>
        <meta name="description" content="Thoughts, stories and ideas.">

         <style>
            .dark .background-pattern{background-image:url("static/assets/images/1.jpg")}.light .background-pattern{background-image:url("/static/assets/images/1.jpg")}.dark .post-presentation .author-image-fill{background-image:url("assets/images/prof-icon-white4931.png")}.light .post-presentation .author-image-fill{background-image:url("assets/images/prof-icon-dark4931.png")}.dark .logo-light,.light .logo-dark{display:inline-block}.dark .logo-dark,.light .logo-light{display:none}
        </style>

        

        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600|Oswald:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/assets/built/css/extra4931.css" >
        <link href="/static/assets/images/1.jpg" rel="stylesheet" type="text/css">
        
        <link href="/static/assets/built/css/style4931.css" rel="stylesheet" type="text/css">


        <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
        <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
        <link rel="dns-prefetch" href="https://code.jquery.com/">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/">

        <script>
            var switcherActive = false;
            var themeColors = "brown dark";
        </script>

        <meta name="description" content="Thoughts, stories and ideas." />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="index.html" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <link rel="next" href="page/2/index.html" />
    
    <meta property="og:site_name" content="Valkyrie" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Valkyrie" />
    <meta property="og:description" content="Thoughts, stories and ideas." />
    <meta property="og:url" content="https://valkyrie.xaes.dev/" />
    <meta property="og:image" content="https://valkyrie.xaes.dev/content/images/2019/07/thomas-griesbeck-149034-min.jpg" />
    <meta property="article:publisher" content="https://www.facebook.com/republicgamer1/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Valkyrie" />
    <meta name="twitter:description" content="Thoughts, stories and ideas." />
    <meta name="twitter:url" content="https://valkyrie.xaes.dev/" />
    <meta name="twitter:image" content="https://valkyrie.xaes.dev/content/images/2019/07/thomas-griesbeck-149034-min.jpg" />
    <meta name="twitter:site" content="@RepublicGamer1" />
    <meta property="og:image:width" content="2000" />
    <meta property="og:image:height" content="1333" />
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "publisher": {
        "@type": "Organization",
        "name": "Valkyrie",
        "url": "https://valkyrie.xaes.dev/",
        "logo": {
            "@type": "ImageObject",
            "url": "https://valkyrie.xaes.dev/favicon.ico",
            "width": 48,
            "height": 48
        }
    },
    "url": "https://valkyrie.xaes.dev/",
    "image": {
        "@type": "ImageObject",
        "url": "https://valkyrie.xaes.dev/content/images/2019/07/thomas-griesbeck-149034-min.jpg",
        "width": 2000,
        "height": 1333
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://valkyrie.xaes.dev/"
    },
    "description": "Thoughts, stories and ideas."
}
    </script>

    <script defer src="/static/public/members.min4931.js"></script>
    <meta name="generator" content="Ghost 3.14" />
    <link rel="alternate" type="application/rss+xml" title="Valkyrie" href="rss/index.html" />

    </head>
    <body class="home-template">
                {%include 'snippet/nav.html'%}          
            {%block content%}
            {% comment %} content {% endcomment %}
            {%endblock content%}
            {%include 'snippet/footer.html'%}

    </body>
    </html>